<% include ./partials/header %>
<section id="landingPage">
  <header>
    <div id="mainHeaderContainer">
      <div id="innerHeaderContainer">
        <h1>Hey There, <span>I'm Brandon</span>,</h1>
        <h2>A Jr full stack web developer from the LA area.</h2>
        <div id="HeaderButtonBox">
          <a href="/portfolio">Portfolio</a>
          <a href="#">Contact Me</a>
        </div>
      </div>
    </div>
  </header>
</section>
<% include ./partials/footer %>
