<% include ./partials/header %>

<section id="portfolioSection">
  <div id="innerPortfolioContainer">
    <div class="projectCard">
      <div class="projectImageContainer">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
        <a href="https://whispering-oasis-62709.herokuapp.com/"><img data-src="./img/realty.png"></a>
      </div>
      <div class="projectDetails">
        <div class="projectTitle">
        <a href="https://whispering-oasis-62709.herokuapp.com/"><h3>Blue Peaks Realty</h3></a>
        </div>
        <div class="projectDescription">
          <p>Blue Peaks Realty is a Colorado based real estate sales team. This CRUD website was built using <span>HTML 5, CSS 3, Node JS, Monogo DB</span>. Other technologies used include <span>Semantic-ui, Express JS, EJS, Mongoose, and Passport</span> for authorization/authentication. To create an account enter the code "<span>bluePeaksAgent</span>" at the register form.</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="projectCard">
      <div class="projectImageContainer">
      <div class="lds-facebook"><div></div><div></div><div></div></div>
        <a href="https://powerful-lowlands-15167.herokuapp.com"><img data-src="./img/artist.png"></a>
      </div>
      <div class="projectDetails">
        <div class="projectTitle">
          <a href="https://powerful-lowlands-15167.herokuapp.com"><h3>Photographer Portfolio</h3></a>
        </div>
        <div class="projectDescription">
          <p>This CRUD website was created for a mock photographer/artist. Technologies used include <span>HTML 5, CSS 3, JQuery, Node JS, MongoDB, Express JS, EJS, Mongoose, and Semantic-UI</span>.
          <span>Username: admin | Password: password</span></p>
        </div>
      </div>
    </div>
    <hr>
    <div class="projectCard">
      <div class="projectImageContainer">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
        <a href="https://still-inlet-43499.herokuapp.com/"><img data-src="./img/rtk.png"></a>
      </div>
      <div class="projectDetails">
        <div class="projectTitle">
          <a href="https://still-inlet-43499.herokuapp.com/"><h3>Thai Kitchen</h3></a>
        </div>
        <div class="projectDescription">
          <p>Thai Kitchen is a popular thai food restaurent located in the Downtown Riverside area. This <span>front-end only</span> website was built using <span>HTML 5, CSS 3, JQuery, and EJS.</span></p>
        </div>
      </div>
    </div>
    <hr>
    <div class="projectCard">
      <div class="projectImageContainer">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
        <a href="https://thawing-savannah-84432.herokuapp.com/"><img data-src="./img/thirdEye.png"></a>
      </div>
      <div class="projectDetails">
        <div class="projectTitle">
          <a href="https://thawing-savannah-84432.herokuapp.com/"><h3>Mint Condition Tattoo</h3></a>
        </div>
        <div class="projectDescription">
          <p>Mint Condition Tattoo is a tattoo and piercing parlor. I noticed their website was layed out a little weird. So I decided to revamp it. I built this site using <span>HTML 5, CSS 3, Node JS, Flexbox, and EJS</span>.</p>
        </div>
      </div>
    </div
  </div>

</section>

<% include ./partials/footer %>
