<% include ./partials/header %>

<section id="portfolioSection">
  <div id="innerPortfolioContainer">
    <div class="projectCard">
      <div class="projectImageContainer">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
        <img data-src="./img/realty.png" alt="">
      </div>
      <div class="projectDetails">
        <div class="projectTitle">
        <a href="https://whispering-oasis-62709.herokuapp.com/"><h3>Blue Peaks Realty</h3></a>
        </div>
        <div class="projectDescription">
          <p>Blue Peaks Realty is a Colorado based real estate sales team. This fullstack website was built using <span>HTML 5, CSS 3, Node JS, Monogo DB, and has full CRUD capabilities</span>. Other technologies used include <span>Semantic-ui, Express JS, EJS, Mongoose, and Passport</span> for authorization/authentication. To create an account enter the code "<span>bluePeaksAgent</span>" at the register form.</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="projectCard">
      <div class="projectImageContainer">
      <div class="lds-facebook"><div></div><div></div><div></div></div>
        <img data-src="./img/artist.png" alt="">
      </div>
      <div class="projectDetails">
        <div class="projectTitle">
          <a href="https://powerful-lowlands-15167.herokuapp.com"><h3>Photographer Portfolio</h3></a>
        </div>
        <div class="projectDescription">
          <p>This mock fullstack website was created for a photographer/artist. Technologies used include <span>HTML 5, CSS 3, JQuery, Node JS, MongoDB, Express JS, EJS, Mongoose, and Semantic-UI</span>. It has full CRUD capabilities and was built using RESTful routing.
          <span>Username: admin | Password: password</span></p>
        </div>
      </div>
    </div>
    <hr>
    <div class="projectCard">
      <div class="projectImageContainer">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
        <img data-src="./img/rtk.png" alt="">
      </div>
      <div class="projectDetails">
        <div class="projectTitle">
          <a href="http://food.hartwebdev.com/"><h3>Thai Kitchen</h3></a>
        </div>
        <div class="projectDescription">
          <p>Thai Kitchen is a popular thai food restaurent located in the Downtown Riverside area. This <span>front-end only</span> website was built using <span>HTML 5, CSS 3, SASS, and JQuery.</span></p>
        </div>
      </div>
    </div>
    <hr>
    <div class="projectCard">
      <div class="projectImageContainer">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
        <img data-src="./img/thirdEye.png" alt="">
      </div>
      <div class="projectDetails">
        <div class="projectTitle">
          <a href="http://thirdeyeglassart.com/"><h3>Third Eye Glass Works</h3></a>
        </div>
        <div class="projectDescription">
          <p>Third Eye Glass Works is a Southern California based glass blower. He specializes in pendants with geometric patterns. This website has full CRUD capabilities for the admin. It was built using <span>HTML 5, CSS 3, Node JS, Monogo DB, and has full CRUD capabilities</span>. Other technologies used include <span>Express JS, EJS, Mongoose, and Passport</span> for authorization/authentication.</p>
        </div>
      </div>
    </div
  </div>

</section>

<% include ./partials/footer %>
