<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FAVICON SECTION -->
    <link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="36x36" href="./img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="20x20" href="./img/favicon-16x16.png">
    <link rel="manifest" href="./img/site.webmanifest">
    <link rel="mask-icon" href="./img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!--END FAVICON -->
    <title>BKH Web Dev</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/dropdown.css" rel="stylesheet" type="text/css" />
    <link href="/css/dimmer.css" rel="stylesheet" type="text/css" />
    <link href="/css/hamburger.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
<section id="resumeSection">
  <div id="innerResumeContainer">
    <div id="linkBox">
      <a href="/" id="goBack">Go back</a>
    </div>
    <div id="topResumeContainer">
      <div id="nameContainer">
        <h1>Brandon K. Hart</h1>
        <h2>Jr. Full Stack Web Developer</h2>
        <hr>
        <h3>Available for full time, part time, contract, or remote work.</h3>
      </div>
      <div id="emailList">
        <a href="mailto:ihartappraisals@gmail.com?Subject=Hello%20" target="_top">ihartappraisals@gmail.com</a>
        <a href="mailto:hartwebdev92@gmail.com?Subject=Hello%20" target="_top">hartwebdev92@gmail.com</a>
      </div>
    </div>
    <div id="secondContainer">
      <h1>Experience</h1>
      <div class="experienceCard">
        <h2>Hart Web Dev</h2>
        <h3>Freelance Web Developer</h3>
        <p>October 2018 - October 2019</p>
        <ul>
          <li>vfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfd</li>
          <li>bfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrf</li>
          <li>gtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrf</li>
        </ul>
      </div>
      <div class="experienceCard">
        <h2>Hart Appraisals</h2>
        <h3>Residential Fee Appraiser</h3>
        <p>October 2018 - October 2019</p>
        <ul>
          <li>vfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfdvfd</li>
          <li>bfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrfbfvgtrf</li>
          <li>gtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrfgtrf</li>
        </ul>
      </div>
    </div>
    <div id="thirdResumeContainer">
      <h1>Skills</h1>
      <div id="skillsContainer">
        <ul>
          <li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5">Html 5</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Javascript</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Glossary/Node.js">Node JS</a></li>
          <li><a href="https://www.mongodb.com/what-is-mongodb">Mongo DB</a></li>
          <li><a href="https://www.taniarascia.com/what-is-bootstrap-and-how-do-i-use-it/">Bootstrap</a></li>
          <li><a href="https://www.sitepoint.com/introducing-semantic-ui-component-library/">Semantic-UI</a></li>
          <li><a href="https://webpack.js.org/">Webpack</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Glossary/CSS_preprocessor">LESS</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Glossary/CSS_preprocessor">SASS</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Learn/GitHub">Git</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Archive/CSS3">CSS 3</a></li>
          <li><a href="https://ejs.co/#about">EJS</a></li>
          <li><a href="https://expressjs.com/">Express</a></li>
          <li><a href="https://atom.io/">Atom IDE</a></li>
        </ul>
      </div>
    </div>
    <div id="bottomResumeContainer">
      <h1>Education</h1>
      <div id="innerEduContainer">
        <div class="EduBox">
          <h2>Mount San Antonio College</h2>
          <h3>Computer Science</h3>
          <h4>Currently attending</h4>
        </div>
        <div class="EduBox">
          <h2>Alta Loma High School</h2>
          <h3>General Education</h3>
          <h4>Graduated 2010</h4>
        </div>
      </div>
    </div>
  </div>
</section>




<script type='text/javascript' src='/js/jquery.js'></script>
<script type='text/javascript' src='/js/semantic.min.js'></script>
<script type='text/javascript' src='/js/index.js'></script>
</body>
</html>
