 /* darkred #f55d3e */
 /* blue #4682B4 */
*{
  font-size: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  position: relative;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.08'%3E%3Ccircle fill='%23ffffff' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23e5e9e6' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23ccd4ce' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23b3bfb6' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%239bab9f' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23839788' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
#backgroundImg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
a, li{
  padding: 10px;
  margin: -10px;
  text-decoration: none;
  transition: all .35s ease-in-out;
  font-family: 'Lato', sans-serif;
}
a:link, a:visited, li{
  color: #000;
}
a:hover, a:active, li:hover{
  color: darkred;
  cursor: pointer;
}
#mobileNav{
  width: 100%;
  height: 0px;
  background-color: #F9FAF6;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  transition: height .5s ease-in-out,
            opacity .65s ease-in-out;
  z-index: 100;

}
#mobileNav ul{
  height: 70%;
  margin-right: 10px;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  padding: unset!important;
}
#mobileNav ul li a{
  font-size: 1.5rem;
}
#sideNav{
  position: relative;
  height: 100vh;
  width: 25%;
  background: rgba(39, 71, 99, .65);
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  z-index: 101!important;
}
#sideNav::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
#imgBox{
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#imgBox img{
  color: #FFF;
  width: 100%;
}
#imgBox h2{
  color: rgba(255, 255, 255, 1);
  font-size: 1.5rem;
}
#imgBox h3{
  color: rgba(255, 255, 255, .85);
  font-size: 1.1rem;
}
#topNavBox{
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#topNavBox ul,
#bottomNavBox ul{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 1rem;
}
#topNavBox ul li a{
  color: rgba(255, 255, 255, .75);
  font-size: 1rem;
  overflow: hidden;

}
#topNavBox ul li a:hover{
  color: darkred;

}
#topNavBox ul li a span{
  font-size: 1.1rem;
  color: #FFF;
  height: 100%;
}
#bottomNavBox{
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#bottomNavBox a h1{
  color: #FFF;
  font-size: 3rem;
  letter-spacing: 5px;
  font-weight: 300;
  padding: 25px;
  border: 5px solid rgba(255, 255, 255, .75);
  -webkit-transition: border .45s ease-in-out;
  transition: border .45s ease-in-out;
}
#bottomNavBox a h1 span{
  color: darkred;
  -webkit-transition: color .45s ease-in-out;
  transition: color .45s ease-in-out;
}
#bottomNavBox a h1:hover{
  border: 5px solid darkred;
}
#landingPage{
  width: 75%;
}
header{
  height: 100%;
  width: 100%;
}
#mainHeaderContainer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#mainHeaderContainer{
  padding: 3rem;
  width: auto;
}
#mainHeaderContainer h1,
#mainHeaderContainer h2{
  color: rgba(0, 0, 0, .75);
}
#mainHeaderContainer h1 span, #mainHeaderContainer h2 span{
  color: darkred;
}
#mainHeaderContainer h1{
  position: relative;
  font-size: 3rem;
  top: 15px;
  opacity: 0;
}
#mainHeaderContainer h2{
  position: relative;
  font-size: 2rem;
  word-wrap: break-word;
  width: 60%;
  top: 10px;
  opacity: 0;
}
#innerHeaderContainer{
  margin-left: 2rem;
  margin-top: 3.5rem;
}
#HeaderButtonBox{
  opacity: 0;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem;
  width: 45%;
  margin-left: 0;
}
#HeaderButtonBox a{
  border: 1px solid rgba(0, 0, 0, .75);
  color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: center;
  justify-content: center;
}
#HeaderButtonBox a:hover{
  border: 1px solid red;
  color: red;
}
#portfolioSection{
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  width: 75%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}
#circle{
  background: rgba(255, 255, 255, .98);
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: absolute;
  top: 50%;
  left: -22px;
  transform: translate(0, -50%);
}
#innerPortfolioContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */

}
#innerPortfolioContainer::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
#innerPortfolioContainer hr{
  width: 50%;
  margin: 0 auto;
  display: block;
  background-color: rgba(183,113,98, .35);
  border: 1px solid rgba(183,113,98, .35);
  outline: rgba(183,113,98, .35);
}
.projectCard{
  width: 100%;
  min-height: 450px;
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.projectCard:nth-of-type(even){
  flex-direction: row-reverse;
}
.projectImageContainer{
  height: 100%;
  width: 55%;
  position: relative;
}
.projectImageContainer img{
  width: 100%;
  position: relative;
  z-index: 2;
}
.projectDetails{
  width: 45%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.projectTitle h3{
  margin-top: -1rem;
}
.projectDescription{
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
}
.projectDescription p{
  width: 80%;
  word-wrap: break-word;
  word-break: break-word;
  margin-top: -7rem;
}
.projectDescription p span{
  color: #274763;
}
.projectDescription p span:last-of-type{
  color: darkred;
}
#contactSection{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
}
#innerContactContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    justify-content: center;
}
#contactForm{
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  height: 85%;
}
#contactForm h1{
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 2rem;
}
#contactForm h1 span{
  color: darkred;
}
#contactForm input,
#contactForm textarea{
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #858585;
  font-size: .95rem;
  transition: all .35s ease-in-out;
}
#contactForm textarea{
  resize: none;
  height: 150px;
}
#contactForm input:focus,
#contactForm textarea:focus{
  border-bottom: 1px solid #000;
}
#contactForm input[type='submit']{
  border-bottom: unset;
  border: 1px solid #858585;
  width: 20%;
  height: 35px;
  color: #858585;
  transition: all .35s ease-in-out;
}
#contactForm input[type='submit']:hover{
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
}
#resumeSection{
  width: 100%;
  height: 150vh;
  background: darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}
#innerResumeContainer{
  box-shadow: 0px 1px 1px #858585;
  height: auto;
  width: 70%;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.05'%3E%3Ccircle fill='%23ffffff' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23e5ecf4' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23cadae9' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23afc7de' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2394b6d3' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%2378a4c8' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}
#innerResumeContainer a{
  font-size: .85rem;
  margin: -10px;
  padding: 10px;
}
#innerResumeContainer #linkBox{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
#innerResumeContainer #copy{
  top: 15px;
  right: 15px;
}
#innerResumeContainer #goBack{
  top: 10px;
  left: 15px;
  margin: unset;
}
#topResumeContainer{
  height: 20%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nameContainer{
  flex-basis: 75%;
}
#nameContainer hr{
  width: 55%;
  margin-bottom: 10px;
}
#nameContainer h1{
  font-size: 2.5rem;
  color: darkred;
}
#nameContainer h2{
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, .75);
}
#nameContainer h3{
  font-size: 1.5rem;
  font-size: .9rem;
}
#emailList{
  flex-basis: 25%;
  height: 50px;
  border-left: 1px solid rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#emailList a{
  color: darkred;
}
#secondContainer{
  height: auto;
  width: 80%;
  margin: 0 auto;
}
#secondContainer h1, #thirdResumeContainer h1, #bottomResumeContainer h1{
  color: darkred;
  font-size: 1.65rem;
  margin: 1rem;
}
#bottomResumeContainer h1{
  margin-top: 2rem;
}
#bottomResumeContainer h1{
}
#secondContainer .experienceCard{
  width: 98%;
  height: auto;
  margin: 0 auto;
  margin: 20px 0px 20px 5px;
}
#secondContainer .experienceCard h3{
  font-size: 1.1rem;
}
#secondContainer .experienceCard:first-of-type{
  margin-top: unset;
}
#secondContainer .experienceCard p {
  padding-top: 2px;
}
#secondContainer .experienceCard h2{
  font-size: 1.2rem;
}
#secondContainer .experienceCard ul{
  width: 85%;
  margin: 0 auto;
  padding-top: 10px;
  list-style-type: disc;
}
#secondContainer .experienceCard ul li{
  font-size: .9rem;
  word-break: normal;
  word-wrap: break-word;
  color: rgba(0, 0, 0, .75);
  padding: 5px;
  margin: unset;
}
#thirdResumeContainer{
  height: auto;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#thirdResumeContainer h1{
  align-self: flex-start;
}
#skillsContainer{
  width: 85%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
#skillsContainer ul{
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  justify-content: space-evenly;
}
#skillsContainer ul li{
  display: block;
  margin: 4px 4px 0 0;
  background: lightgrey;
  transition: all .35s ease-in-out;
}
#skillsContainer ul li a{
  display: inline-block;
  color: rgba(0, 0, 0, .75);
  padding: 4px 10px;
  font-size: 13px;
  text-transform: uppercase;
}
#skillsContainer ul li:hover{
  color: rgba(0, 0, 0, .75);
  background: darkred;
}
#skillsContainer ul li:hover a{
  color: #FFF;
}
#bottomResumeContainer{
  width: 80%;
  margin: 0 auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
}
#innerEduContainer{
  width: 100%;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
}
.EduBox h2{
  font-size: 1.15rem;
}
.EduBox h3{
  font-size: 1.05rem;
  padding-bottom: 3px;
}
.EduBox h4{
  font-size: .9rem;
}
#negative, #positive{
  background: rgba(255, 255, 255, .95);
  padding: 4px 10px;
  z-index: 100;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}
#positive{
  color: darkgreen;
}
#negative{
  color: darkred;
}
.lds-css.ng-scope{
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes lds-ripple {
  0% {
    top: 98px;
    left: 98px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 19px;
    left: 19px;
    width: 158px;
    height: 158px;
    opacity: 0;
  }
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 98px;
    left: 98px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 19px;
    left: 19px;
    width: 158px;
    height: 158px;
    opacity: 0;
  }
}
.lds-ripple {
  position: relative;
}
.lds-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 2px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1.9s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1.9s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(1) {
  border-color: #8cd0e5;
}
.lds-ripple div:nth-child(2) {
  border-color: #376888;
  -webkit-animation-delay: -0.95s;
  animation-delay: -0.95s;
}
.lds-ripple {
  width: 142px !important;
  height: 142px !important;
  -webkit-transform: translate(-71px, -71px) scale(0.71) translate(71px, 71px);
  transform: translate(-71px, -71px) scale(0.71) translate(71px, 71px);
}
.active{
  display: flex!important;
  opacity: 1!important;
  height: 55vh!important;
  z-index: 100!important;
}
.bodyOverflow{
  overflow: hidden!important;
  position: relative!important;
}
#burgerContainer{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#BurgerContainerLogo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
#BurgerContainerLogo a{

}
#BurgerContainerLogo a h1{
  height: 100%;
    width: 100%;
    position: relative;
    z-index: 10000;
    font-size: 3rem;
    letter-spacing: 5px;
    font-weight: 300;
    padding: 5px;
    border: 5px solid rgba(0, 0, 0, .75);
    -webkit-transition: border .45s ease-in-out;
    transition: border .45s ease-in-out;
}
#BurgerContainerLogo a h1 span{
  color: darkred;
}
/* Media Queries */
@media only screen and (min-width: 1400px){
  #topNavBox ul li a {
    font-size: 1.25rem;
  }
  #mainHeaderContainer h1 {
      font-size: 4rem;
  }
  #mainHeaderContainer h2 {
    font-size: 2.5rem;
    width: 70%;
  }
  #HeaderButtonBox {
    width: 35%;
  }
  #HeaderButtonBox a{
    font-size: 1.2rem;
  }
  #bottomNavBox a h1 {
    font-size: 4rem;
  }
  #imgBox h2 {
    font-size: 2rem;
  }
  #imgBox h3 {
    font-size: 1.35rem;
  }
  #contactForm h1 {
    font-size: 2.5rem;
  }
  #contactForm input[type='submit'] {
    width: 25%;
    height: 40px;
  }
  #resumeSection {
    height: 125vh;
    }
    #secondContainer h1{
      margin: 1rem 0;
    }
    #innerResumeContainer a {
    font-size: 1rem;
    }
    #secondContainer .experienceCard h3 {
    font-size: 1.2rem;
  }
  #secondContainer .experienceCard h2 {
      font-size: 1.35rem;
    }
    #bottomResumeContainer h1{
      margin-bottom: 1rem;
    }
    #nameContainer h3 {
    font-size: 1rem;
    }
    .experienceCard ul li {
    font-size: 1rem;
  }
}
@media only screen and (width: 1024px) and (height: 1366px){
  #sideNav {
      width: 35%;
  }
  #topNavBox ul li a {
    font-size: 1.5rem;
  }

  #mainHeaderContainer h2 {
    font-size: 2rem;
    width: 80%;
  }
  #HeaderButtonBox {
    width: 75%;
    justify-content: flex-start;
  }
  #HeaderButtonBox a{
    font-size: 1.5rem;
    margin: 5px;
  }
  #bottomNavBox a h1 {
    font-size: 5.5rem;
  }
  #imgBox h2 {
    font-size: 2.35rem;
  }
  #imgBox h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  #imgBox img {
    height: 50%;
  }

  .projectImageContainer {
  height: 100%;
  width: 100%;
  }
  .projectCard{
    flex-direction: column;
    min-height: unset;
    height: auto;
    margin-bottom: 6rem;
  }
  .projectCard:first-of-type{
    margin-top: unset;
  }
  .projectCard:last-of-type{
    margin-bottom: 5rem;
  }
  .projectTitle{
    height: auto;
    margin: 1rem 0;
  }
  .projectTitle a{
    font-size: 2rem;
    width: 100%;
    height: auto;
  }
  .projectDetails {
  width: 90%;
  height: 75%;
  display: flex;
  flex-direction: column;
  }
  .projectCard:nth-of-type(even) {
   flex-direction: column;
  }
  .projectDescription{
    line-height: 30px;
  }
  .projectDescription p{
    font-size: 1.5rem;
    width: 95%;
    margin-top: unset;
  }
  #contactForm {
    width: 80%;
    height: 55%;
  }
  #contactForm input[type='submit'] {
    width: 23%;
    height: 44px;
  }
  #contactForm h1 {
    font-size: 3rem;
  }
  #contactForm input, #contactForm textarea {
    font-size: 1.1rem;
  }

  #resumeSection{
    height: 100vh;
  }
  #innerResumeContainer #goBack {
    top: 0;
    left: 15px;
    font-size: 1.2rem;
    padding-left: 0;
    }
  #innerResumeContainer {
    height: 90%;
    width: 80%;
    }
  #topResumeContainer {
    height: auto;
    }
    #emailList a {
    font-size: 1.05rem;
    }
    #nameContainer h1 {
    font-size: 4rem;
    }
    #nameContainer h2 {
    font-size: 3rem;
    }
    #nameContainer h3 {
    font-size: 1.5rem;
    }
    #secondContainer h1, #thirdResumeContainer h1, #bottomResumeContainer h1 {
    font-size: 2rem;
   }
   #secondContainer .experienceCard h2 {
    font-size: 1.65rem;
    }
    .experienceCard p {
    font-size: 1.35rem;
    }
    #secondContainer .experienceCard h3 {
    font-size: 1.45rem;
    }
    #secondContainer .experienceCard ul li {
    font-size: 1.3rem;
    }
  #secondContainer{
    margin-top: unset;
  }
  #secondContainer h1, #thirdResumeContainer h1, #bottomResumeContainer h1 {
  margin: .5rem 0;
  }
  #thirdResumeContainer {
  height: auto;
  }
  #thirdResumeContainer h1 {
   position: unset;
   top: unset;
   left: unset;
  }
  #skillsContainer {
  height: auto;
  }
  #skillsContainer ul li a{
    font-size: 1rem;
    }
  #innerEduContainer {
  padding: 0 .25rem;
  }
  #bottomResumeContainer {
  height: auto;
  margin-bottom: 3rem;
  }
  #bottomResumeContainer h1{
  margin-top: 2rem;
  }
  .EduBox h2 {
    font-size: 1.45rem;
    }
  .EduBox h3 {
    font-size: 1.35rem;
    }
  .EduBox h4 {
    font-size: 1.25rem;
    }
}
@media only screen and (max-width: 768px) and (min-height: 1024px){
  #sideNav {
      width: 35%;
  }
  #topNavBox ul li a {
    font-size: 1.25rem;
  }
  #mainHeaderContainer h1 {
      font-size: 3.5rem;
  }
  #mainHeaderContainer h2 {
    font-size: 1.75rem;
    width: 80%;
  }
  #HeaderButtonBox {
    width: 75%;
    justify-content: flex-start;
  }
  #HeaderButtonBox a{
    font-size: 1.2rem;
    margin: 5px;
  }
  #bottomNavBox a h1 {
    font-size: 4rem;
  }
  #imgBox h2 {
    font-size: 2rem;
  }
  #imgBox h3 {
    font-size: 1.35rem;
    text-align: center;
  }
  #imgBox img {
    height: 45%;
  }
  .projectImageContainer {
  height: 100%;
  width: 100%;
  }
  .projectCard{
    flex-direction: column;
    min-height: unset;
    height: auto;
    margin-bottom: 6rem;
  }
  .projectCard:first-of-type{
    margin-top: unset;
  }
  .projectCard:last-of-type{
    margin-bottom: 5rem;
  }
  .projectTitle{
    height: auto;
    margin: 1rem 0;
  }
  .projectTitle a{
    font-size: 2rem;
    width: 100%;
    height: auto;
  }
  .projectDetails {
  width: 90%;
  height: 75%;
  display: flex;
  flex-direction: column;
  }
  .projectCard:nth-of-type(even) {
   flex-direction: column;
  }
  .projectDescription{
    line-height: 30px;
  }
  .projectDescription p{
    font-size: 1.5rem;
    width: 95%;
    margin-top: unset;
  }
  #contactForm {
    width: 80%;
    height: 55%;
  }
  #resumeSection{
    height: 110vh;
  }
  #innerResumeContainer #goBack {
    top: 0;
    left: 15px;
    font-size: 1rem;
    padding-left: 0;
    }
  #innerResumeContainer {
    height: auto;
    }
  #topResumeContainer {
    height: auto;
    }
    #emailList a {
    font-size: .95rem;
    }
    #nameContainer h3 {
    font-size: .95rem;
    }
    .experienceCard p {
    font-size: 1.1rem;
    }
    #secondContainer .experienceCard h3 {
    font-size: 1.15rem;
    }
    #secondContainer .experienceCard ul li {
    font-size: .95rem;
    }
  #secondContainer{
    margin-top: unset;
  }
  #secondContainer h1, #thirdResumeContainer h1, #bottomResumeContainer h1 {
  margin: .5rem 0;
  }
  #thirdResumeContainer {
  height: auto;
  }
  #thirdResumeContainer h1 {
   position: unset;
   top: unset;
   left: unset;
  }
  #skillsContainer {
  height: auto;
  }
  #innerEduContainer {
  padding: 0 .25rem;
  }
  #bottomResumeContainer {
  height: auto;
  margin-bottom: 3rem;
  }
  #bottomResumeContainer h1{
  margin-top: 2rem;
  }
  .EduBox h2 {
    font-size: 1.2rem;
    }
  .EduBox h3 {
    font-size: 1.1rem;
    }
  .EduBox h4 {
    font-size: 1.05rem;
    }
}
@media only screen and (max-width: 600px){
  body{flex-direction: column;}
  #sideNav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-y: unset;
    }
    #imgBox{
      display: none;
    }
    #topNavBox{
      display: none;
    }
    #bottomNavBox{display: none;}
    #bottomNavBox a h1 {
      font-size: 2.5rem;
      padding: 11px;
    }
    #landingPage{
      width: 100%;
      height: 100%;
    }
    #innerHeaderContainer {
      margin-left: unset;
      margin-top: unset;
    }
    #mainHeaderContainer h2 {
      width: 92%;
      font-size: 1.4rem;
    }
    .hamburger{
      display: block;
    }
    #HeaderButtonBox {
      width: 80%;
    }
    #HeaderButtonBox a {
      margin: unset;
    }
    #portfolioSection {
      width: 100%;
    }
    .projectImageContainer {
      height: 100%;
      width: 100%;
    }
    .projectCard{
      flex-direction: column;
      min-height: unset;
      height: auto;
      margin: 3rem 0;
    }
    .projectCard:first-of-type{
      margin-top: unset;
    }
    .projectCard:last-of-type{
      margin-bottom: 5rem;
    }
    .projectTitle{
      height: auto;
      margin: 1rem 0;
    }
    .projectTitle a{
      font-size: 1.75rem;
      width: 100%;
      height: auto;
    }
    .projectDetails {
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;
    }
    .projectCard:nth-of-type(even) {
     flex-direction: column;
    }
    .projectDescription{
      line-height: 25px;
    }
    .projectDescription p{
      font-size: 1.2rem;
      width: 95%;
      margin-top: unset;
    }
    #contactSection {
        height: 100vh;
        width: 100%;
    }
    #contactForm {
    width: 80%;
    }
    #contactForm input[type='submit'] {
    width: 35%;
    height: 45px;
    }
    .lds-css.ng-scope {
      display: none;
    }
    #resumeSection{
      height: auto;
    }
    #innerResumeContainer {
      height: 95%;
      width: 90%;
    }
    #topResumeContainer{
      flex-direction: column;
      height: auto;
      width: 85%;
    }
    #emailList{
      position: absolute;
      flex-direction: column;
      top: 0px;
      right: 10px;
      border-left: none;
      margin: unset;
      padding: unset;
    }
    #emailList a{
      font-size: .95rem;
    }
    #innerResumeContainer #goBack {
    font-size: 1.1rem;
    }
  #nameContainer{
    flex-basis: auto;
    margin-top: 2rem;
    }
    #nameContainer h3{
      font-size: 1.1rem;
    }
  #secondContainer {
     margin-top: 1rem;
     width: 85%;

    }
    #secondContainer h1, #thirdResumeContainer h1, #bottomResumeContainer h1 {
    font-size: 1.75rem;
    margin: .5rem 0;
    }
    #secondContainer .experienceCard h2 {
    font-size: 1.25rem;
    }
    #secondContainer .experienceCard h3 {
    font-size: 1.15rem;
    }
    #secondContainer .experienceCard p {
    font-size: 1.2rem;
    }
    #thirdResumeContainer {
    height: auto;
    width: 85%;

    }
    #thirdResumeContainer h1 {
     position: unset;
     top: unset;
     left: unset;
    }
    #skillsContainer {
    height: auto;
    width: 85%;

    }
    #innerEduContainer {
    padding: 0 .25rem;
    }
    #bottomResumeContainer {
    height: auto;
    margin-bottom: 3rem;
    width: 85%;

    }
    #bottomResumeContainer h1{
    margin-top: 2rem;
    }
  }
@media only screen and (max-width: 600px) and (min-height: 800px){
  #HeaderButtonBox a {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 325px){
  #mainHeaderContainer h1 {
      font-size: 2.5rem;
  }
  #mainHeaderContainer h2 {
    font-size: 1.3rem;
  }
  #HeaderButtonBox {
    width: 95%;
  }
  #contactForm{
    height: 100%;
  }
  #contactForm h1 {
    font-size: 1.75rem;
  }
  #emailList a {
    font-size: .9rem;
    }
    #innerResumeContainer #goBack {
    font-size: 1rem;
    left: 0;
    padding-left: 0;
    }
}
@media print{

}
